@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>"" is a new way to host events, follow your friends or companies to see what they're up to, and to find out what exciting things are happening around you.</p>
