@*@model IEnumerable<Capstone_.Models.PersonalUser>
@{
    ViewBag.Title = "Followers";
}

<h2>Followers</h2>

<table class="table">
    <tr>
        <th>

        </th>
    </tr>    
</table>*@

